<!DOCTYPE html>
<html lang='ru'>
<ul>
    {% for adv in advertisements %}
        <li>{{ adv }}</li>
    {% endfor %}
</ul>
<div><a href={% url 'advertisement_prices' %}>Prices</a></div>
<div><a href={% url 'about' %}>About</a></div>
<div><a href={% url 'contacts' %}>Contacts</a></div>

<div>
    <form action="{% url 'advertisement_list' %}" method='POST'>
        {% csrf_token %}
        <div style="float: left;" class="form-group row">
            <button type="submit" class="btn btn-success">Send POST request</button>
        </div>
    </form>
</div>
<div>
    {{ answer }}
</div>

</html>
